<!doctype html>
<html lang="ja">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
  </head>
  <body>
    <header style="border-bottom:solid 1px #ccc">
    {{meta.siteName}}
    </header>
    <article>
      <h1>{{title}}</h1>
      <p>Author: {{author}}</p>
      {{content | safe}}
    </article>
    <footer style="border-top: solid 1px #ccc">
      <ul>
        {%- for link in meta.footerLinks %}
        <li><a href="{{link.url}}">{{link.name}}</a></li>
        {%- endfor %}
      </ul>
    </footer>
  </body>
</html>